.footer-fixed {
  width: 100%;
  background: #22223B;
  color: #C9ADA7;
  text-align: center;
  padding: 0.7rem 0;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}
