header, footer {
  text-align: center;
  padding: 1rem;
  background-color: #121858;
  color: white;
}

nav a {
  color: #fce38a;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
